.snap-container {
    height: 100vh; overflow-y: scroll;
    scroll-snap-type: y mandatory;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    min-height: 100vh;
}

.snap-container:first-child {
    padding-top: 0;
}


.snap-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.snap-child, .snap-project {
    scroll-snap-align: start;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 1vw;
    padding-top: 5.5vw;
}

.project-container {
    padding-top: 2vw;
    min-height: 100%;
}

@media (max-width: 1024px) {
    .snap-child, .snap-project {
        scroll-snap-align: start;
    }

    .snap-project {
        padding-top: 10vw;
    }

    .snap-child, .snap-project {
        min-height: 100dvh;
    }
}

@media (max-width: 768px) {

    .snap-child, .snap-project {
        scroll-snap-align: start;
    }

    .snap-child, .snap-project {
        min-height: 100dvh;
    }
}

@media (max-width: 480px) {
    .snap-container {
        scroll-snap-type: none;
    }

    .snap-child, .snap-project {
        scroll-snap-align: none;
    }

    .snap-child, .snap-project {
        scroll-snap-align: start;
    }

    .snap-project {
        padding-top: 0;
    }

    .snap-child, .snap-project {
        min-height: 100dvh;
    }

    .project-container {
        flex-direction: column;
        padding-top: calc(10vw + 40px);
    }
}