h1,
h2,
p,
span,
a {
    max-width: 50ch;
    /* border: 1px dotted red !important; */
}

html {
    background-color: #1d1a1a;
    color: #fff;
    font-family: 'Foundation Sans', sans-serif;
    animation: fadeInBg 4s ease-out;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4vw;
    background: rgba(0, 0, 0, 0.05);
    z-index: 50;
}

.header-container .designer-title {
    display: none;
}

@media (min-width: 1024px) {
    .header-container .designer-title {
        display: inline;
    }
}

.header-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    padding: 0;
    display: block;
    visibility: hidden;
    position: absolute;
    right: 0;
    width: 12rem;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    border-radius: 0.5rem;
    z-index: 10;
    overflow: hidden;
    padding: 0.4vw;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.dropbtn {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: min(0.4vw, 0.7rem) min(1.2vw, 1.6rem);
    background: white;
    color: black;
    border-radius: 9999px;
    font-weight: 500;
    transition: all 0.2s;
}

.dropdown-content a {
    padding: 0.75rem;
    border-radius: 0;
    display: block;
    width: 100%;
    transition-property: color, background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cur
}

.dropdown-content a:hover {
    border-radius: 0.25vw;
    background-color: rgba(255, 255, 255, 0.1);
}

.hero-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    z-index: 10;
    pointer-events: none;
    user-select: none;
}

.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: -10;
    height: 100dvh;
    width: 100vw;
    object-position: right;
    animation: fadeIn 4s ease-out;
}

.hero-gradient {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: -8;
    height: 100dvh;
    width: 100vw;
    object-position: right;
    background: linear-gradient(to top, #1d1a1a, transparent 2vw);
}

.hero-container {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    min-height: 90dvh;
    position: relative;
    padding-bottom: 6vw; */
    color: rgba(255, 255, 255, 0.70);
}

.halant {
    font-weight: 300;
}

.grammarly-desktop-integration {
    display: none !important;
}

.BPer {
    background: #297D84;
}

.Veycore {
    background: #005E27;
}

.IOJ {
    background: #FFFFFF;
}

.bper-illustration,
.veycore-illustration,
.ioj-illustration {
    width: 58.333333%;
    padding: 6rem 1rem 6rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    display: none;
}

@media (max-width: 1024px) {

    .bper-illustration,
    .veycore-illustration,
    .ioj-illustration {
        width: 100%;
        padding: 3rem 2rem;
    }
}

#projects {
    margin-top: 0;
    gap: 2vw;
}

.project-description,
.testimonial-container {
    padding: 4vw;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    min-height: 10dvh;
    position: relative;
}

.project-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 1vw;
    overflow: hidden;
    transform: scale(0.9);

    flex-grow: 1;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.client-logo {
    height: 2rem;
    width: auto;
    margin-bottom: 1rem;
    object-position: left;
    object-fit: contain;
}

@media (max-width: 1024px) {

}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(255 255 255 / 0.7);
    line-height: 1.25;
    background: rgba(255, 255, 255, 0.05);
}

.testimonial-container.dark {
    background: rgba(0, 0, 0, 0.05);
    flex-grow: 0;
}

@media (max-width: 1024px) {
    .illustration-container {
        background: rgba(255, 255, 255, 0.05);
    }
    .illustration-container.dark {
        background: rgba(0, 0, 0, 0.05);
    }
}

.testimonial {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.project-title {
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero-title {
    font-size: 6vw;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fff;
}

.illustration-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    /* border: 1px dotted red; */
    width: 55%;
}

.illustration-container.center {
    align-items: center;
    padding: 5vw;
}

.illustration-container img {
    max-height: 90vh;
    width: auto;
}

.veycore-override-img img {
    max-height: 70vh;
}

.spedire-override-img img {
    max-width: 65vw;
    transform: translateX(5vw);
}

@media (max-width: 1024px) {
    .spedire-override-img img {
        max-width: 100%;
        transform: none;
    }
    .spedire-override-img {
        padding-left: 3vw;
        padding-right: 3vw;
    }
}

.testimonial-quote {
    margin-bottom: 16px;
}

.testimonial-quote.dark {
    color: rgba(0,0,0,0.7);
}

@media (max-width: 1024px) {
    .hero-image {
        object-position: 75%;
    }
    .illustration-container {
        position: relative;
        width: 100%;
    }
}

#contact {
    min-height: 100vh;
    position: relative;
}

.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 4vw;
    padding-top: 1vw;
    min-height: 100vh;
    padding-bottom: 0;
}

.contact-title {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    margin: 0 auto 2vw;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1vw;
    /* background: rgba(255, 255, 255, 0.05); */
    color: rgb(255 255 255 / 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.hero-spacer {
    height: 85vh;
}

#hero-fixed {
    pointer-events: none;
    user-select: none;
    height: 82vh;
}

/* Se hai bisogno che alcuni elementi dentro hero-fixed siano cliccabili (es. bottoni/link) */
#hero-fixed .header-container {
    pointer-events: auto;
    z-index: 100;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInBg {
    from { 
        background-color: #000;
        color: #000;
    }
    to { 
        background-color: #1d1a1a;
        color: #fff;
    }
}

.header-container nav {
    display: flex;
    gap: 2rem;
}

.header-container nav a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    transition: color 0.2s;
}

.header-container nav a:hover,
.header-container nav a.active {
    color: rgba(255,255,255,1);
}